*:focus {
    outline: 0 !important;
}

html, body {
    height: 100% !important;
}

.vh-80 {
    height: 80vh !important;
}
.h-80 {
    height: 80% !important;
}
.mh-80 {
    min-height: 80% !important;
}

.dropdown-item:active{
    background-color: darkgray !important;
}

textarea {
    background-color: transparent;
    width: 100% !important;
    border-color: #d3d3d3 !important;
    resize: none;
    height: 35vh;
    word-break: break-all;
}

#highlighterContainer, #inputContainer {
    position: absolute;
    left: 0;
    top: 0;
}

#highlighter {
    padding: 0.5vh;
    color: transparent;
    background-color: transparent;
    margin: 0px;
    word-break: break-all;
}

.tabLink {
    background-color: darkgray;
    color: black;
    float: left;
    border: none;
    outline: none;
    width: 25%;
}

.selectedTabLink {
    background-color: black;
    color: lightgray;
    float: left;
    border: none;
    outline: none;
    width: 25%;
}

.tabLink:hover {
    background-color: lightgray;
    border: none;
    outline: none;
}

#errorButton {
    background-color: tomato;
}

.tabContent {
    border: 1px solid #d3d3d3;
    display: none;
    width: 100%;
    height: 100%;
}

#generatedErrors, #lexicalAnalysis {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scrollable-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.scrollable-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    overflow: auto;
}

#canvas {
    width: auto;
    max-height: 30vh;
    max-width: 80%;
    margin-top: 1vh;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.historyAnalex {
    display: none;
    height: 100%;
}

.historyImgAnalex {
    max-height: 90%;
    max-width: 90%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: lightgray;
    }

.text {
    height: 10%;
    width: 100%;
    text-align: center;
}
