@{
    ViewData["Title"] = "Sobre";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/about.css" />

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content">
                    <h3>Sobre o VL-D+</h3>
                    <p>
                        A aplicação VL-D+ (<i>Visual Learning</i>) é um Trabalho de Conclusão de Curso designado para auxiliar discentes da disciplina de Compiladores.
                        O objetivo é que a aplicação simule algumas etapas do compilador em tempo real mostrando ao usuário como são feitos os processos da Análise Léxica, Análise Sintática e Tabela de Símbolos (incompleta).
                    </p>
                    <br>
                    <h3>Sobre o TCC</h3>
                    <form>
                        <div class="form-group row">
                            <label for="university" class="col-sm-2 col-form-label">Universidade</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="university" value="Universidade Tuiuti do Paraná">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="universityClass" class="col-sm-2 col-form-label">Curso</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="universityClass" value="Bacharelado de Ciência da Computação">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Aluna</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="name" value="Sabrina Nawcki">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="universityProf" class="col-sm-2 col-form-label">Professor Orientador</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="universityProf" value="Diógenes Cogo Furlan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tccTitle" class="col-sm-2 col-form-label">Título do TCC</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="tccTitle" value="VL-D+: UMA FERRAMENTA DE ESTUDO PARA COMPILADORES ATRAVÉS DE UMA INTERFACE">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tccRepo" class="col-sm-2 col-form-label"><a href="https://github.com/Phengaris/TCC_WEB_APP">Repositório do TCC</a></label>
                        </div>
                    </form>
                    <div class="about-icons">
                        <ul>
                            <li> <a href="https://github.com/Phengaris"><i id="social-git" class="fa fa-github-square fa-3x social"></i></a> </li>
                            <li> <a href="https://www.linkedin.com/in/sabrina-nawcki-90079915b/"><i id="social-lk" class="fa fa-linkedin-square fa-3x social"></i></a> </li>
                            <li> <a href="https://www.tuiuti.edu.br/"><i id="social-uni" class="fa fa-university fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>