@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/core/lexicalAnalysisController.js"></script>

<div hidden="hidden">
    <img id="character_diagram" src="~/img/Diagrams/Caractere.png" />
    <img id="bracket_diagram" src="~/img/Diagrams/Colchetes.png" />
    <img id="division_diagram" src="~/img/Diagrams/Divisão.png" />
    <img id="space_diagram" src="~/img/Diagrams/Espaco.png" />
    <img id="exclusive_table_diagram" src="~/img/Diagrams/Identificadores.png" />
    <img id="equal_diagram" src="~/img/Diagrams/Igual.png" />
    <img id="bigger_then_diagram" src="~/img/Diagrams/Maior.png" />
    <img id="less_then_diagram" src="~/img/Diagrams/Menor.png" />
    <img id="multiplication_diagram" src="~/img/Diagrams/Multiplicação.png" />
    <img id="number_diagram" src="~/img/Diagrams/Número.png" />
    <img id="parentheses_diagram" src="~/img/Diagrams/Parenteses.png" />
    <img id="semicolon_diagram" src="~/img/Diagrams/Ponto_Vírgula.png" />
    <img id="addition_diagram" src="~/img/Diagrams/Soma.png" />
    <img id="string_diagram" src="~/img/Diagrams/String.png" />
    <img id="subtraction_diagram" src="~/img/Diagrams/Subtração.png" />
    <img id="comma_diagram" src="~/img/Diagrams/Vírgula.png" />
</div>

<div hidden="hidden">
    <span id="state" state="1" word=""></span>
    <span id="state_init" state="1"></span>
    <span id="error" list='[{"error_display":"erro"}]'></span>
</div>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label>YOUR CODE</label>
                <textarea id="userCode"
                          onkeydown="LexicalAnalysis.onUserCodeKeyDown(event)"
                          style="width:100%; height:350px"
                          placeholder="Write your code here"></textarea>
            </div>
            <div class="col-8">
                <label>YOUR LEXICAL ANALYSIS</label>
                <br />
                <canvas id="myCanvas" style="border: 1px solid #d3d3d3; max-width: 100%; max-height: 500px;">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="history_canvas">
                <h3>HISTORY</h3>
            </div>
        </div>
    </div>
</body>
